<!--Acerca de-->

<a href="#aboutMe">			
    <h3 id="title-secondary" class="text-left padding-little">
        Sobre Mi
    </h3>
</a>
<p class="text-justify">
    Hola!!! Me llamo Roger Reyes y soy un desarrollador web full-stack, en constante aprendizaje y con el deseo de desarrollar grandes proyectos para solucionar problemas.
    Dispuesto a trabajar en grupo para lograr objetivos mutuos. 
</p>

<div class="row">
    <div class="col-md-12 text-center">
        <img id="my-picture" alt="Bootstrap Image Preview" src="assets/img/perfil.png" class="rounded-circle">
    </div>
</div>
